.App {
  background-image: linear-gradient(#f3f1dc, #fffccd, #fef8ab);
}

.flex-container {
  display: flex;
  align-items: stretch;
  padding: 40px;
  padding-right: 15%;
  width: calc(100% - 40px);
}

.div1 {
  flex-grow: 1
}

#para1 {
  font-weight: 900;
}

#para2 {
  font-size: medium;
  font-weight: 540;
}

#para {
  font-size: medium;
  font-weight: 200;
  font-family: sans-serif;
}


.border {
  border: 1px solid rgb(202, 38, 38);
  margin: 0px 10px 0px 10px;
}

#img3Bottom {
  padding: 0px 90px 0px 120px;
}

#para4 {
  font-size: medium;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


.border-right {
  border-right: 1px solid rgb(237, 47, 47);
  padding: 3px;

}

.content {
  line-height: 25px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: sans-serif;
}



.logo {
  display: flex;
  justify-content: center;
}

#logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  cursor: pointer;
}

#img1Left {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 1450px;
}

#img2Right {
  width: 100%;
  height: auto;
}

.bottom1 {
  text-align: center;
}

#img3Bottom {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

.bottom2 {
  text-align: center;
}

.footer {
  background-color: rgb(237, 47, 47);
  height: 100px;
  margin: 10px;
}


#tollfree {
  color: white;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    padding: 20px;
  }

  .div2 {
    order: -1;
  }

  #img3Bottom {
    padding: 0px;
  }
}




.logo {
  display: flex;
  justify-content: center;
}

#logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
}

#img1Left {
  width: 100%;
  height: auto;
}

#img2Right {
  width: 100%;
  height: auto;
}

.bottom1 {
  text-align: center;
}

#img3Bottom {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

.bottom2 {
  text-align: center;
}

.footer {
  background-color: rgb(237, 47, 47);
  height: 100px;
  margin: 10px;
}


#tollfree {
  color: white;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    padding: 10px;
  }

  .div2 {
    order: -1;
  }

  #img3Bottom {
    padding: 0px;
  }

  #para1,
  #para2,
  #para3,
  #para4 {
    font-size: 14px;
  }


  .content {
    line-height: 20px;
    font-size: 0.7em;
  }

  #logo {
    max-width: 250px;
  }
}



.icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.icons div {
  display: flex;
  align-items: center;
}

.icons i {
  font-size: 24px;
  margin-right: 5px;
  color: rgb(237, 47, 47);
  background-color: white;
  border-radius: 50%;
}

#tollfree {
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .icons {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .icons div {
    margin-bottom: 10px;
  }

  #tollfree {
    font-size: 12px;
  }

  .icons i {
    font-size: 20px;
    margin-right: 3px;
  }
}


#globe {
  color: white;
  font-size: 23px;
}